.column {
  max-width: 30%;
  margin: auto;
}

img{
  padding-top: 40%;
}

p{
  font-size: 10px;
  font-family: monospace;
  text-align: center;
}

span{
  font-size: 20px;
  font-family: monospace;
  margin-left: 50%;
  color: black;
  text-decoration: none;
}
