body {
  margin:0;
 
}

/*nav*/
div#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  decoration: none;
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 20px;
}
  
 a#About {
   float: right;
  }

  a#Projects {
    float: right;
  }
  
  a#contact {
    float: right;
  }

/* home */

div#home {
  background: gray;
  display: flex;
  justify-content: center;
  padding: 50px;
}

div#home h1 {
  color: white;
  font-family: monospace;
    margin: 0 auto;
    font-size: 40px;
}


h2{
font-family: monospace;
 margin: 0;
 font-size: 30px;
  padding: 25px;
  padding-top: 80px;
  max-width: 80%;
  margin-left: 20px;
}

/*about*/

div#about{
  background-color: white;
}

#arrow {
  color: white;
  font-family;
  text-align: center;
}

/*projects*/

div#projects{
  margin: auto;
  max-width: 80%;
  background-color: white;
}

div#projects a{
    font-family: monospace;
    
}

img{
  max-width: 25%;
  padding: 20px;
  float: left;
  margin-left: 7.5%;
}

/*contact*/

div#contact{
    background-color: white;
    font-family: monospace;
    padding-top: 8%;
    display: inline-block;
    
}



div#footer{
    font-size: 10px;
    font-family: monospace;
    
}

