body {
  margin:0;
 
}

/* home */

div#home {
  background: gray;
  display: flex;
  justify-content: center;
  padding: 50px;
}

div#home h1 {
  color: white;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  border-right: white solid;
  animation: 
    typing 3s steps(14, end),
    blink-caret .5s step-end infinite;
  font-size: 40px;
      max-width: 33%;
}

@media only screen and (max-width: 1350px) {
div#home h1 {
      color: white;
    font-family: monospace;
    overflow: unset;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: normal;
    border-right: none;
    animation: none;
    font-size: 40px;
    max-width: 100%;
  }
}


h2{
font-family: monospace;

 margin: 0;
 font-size: 30px;
  padding: 25px;
  padding-top: 80px;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
 

  
}
div#about{
  background-color: white;
}
div#projects{
  margin: auto;
  max-width: 80%;
  background-color: white;
}

div#projects a{
    font-family: monospace;
    
}

div#contact{
background-color: white;
}

div#contact p{
    font-family: monospace;
    
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  30% { border-color: white }
}

img{
  max-width: 25%;
  padding: 20px;
}

p{
  text-align: center;
  font-size: 20px;
}

p#footer{
    font-size: 10px;
    font-family: monospace;
}
.container {
  position: relative;
  width: 100%;
  margin-left: 33%;
}

/*
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.text {
  font-family: monospace;
  color: black;
  font-size: 15px;
}
*/

a {
  text-decoration: none;
}


button{
      border: none;
    margin-left: 100px;
    font-family: monospace;
    font-size: 20px;
    padding-bottom: 15px;
  
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
